.body{
    background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.font{
    font-size: 80px;
    color:white;
}
.color{
    color:white;
    height: 10px;
   
}