.one{
    margin-left: 60px;
}
.head1{
    color:rgb(218, 27, 129);
}
.one1{
    margin-left: 170px;
}
.body{
    
    background-image: linear-gradient(to left, rgb(237, 94, 132)30px, rgb(224, 161, 35) );
    background-repeat:no-repeat;
}
.img{
    margin-left: 70px;
}