.s{
    border: 1px solid rgb(250, 215, 215);
}
.vc{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
     background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
  
}
.vc1{
    margin-top: 200px;
}
